/* TODO: Make it awesome */

header {
  background-color: lightblue;
  height: 100px;
  margin-bottom: 30px;
}

nav {
  width: 960px;
  margin: auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  border: 20px;
}

nav ul li {
  margin-top: 50px;
}